.hotel-name{
  padding: 0 3rem;
  height: 100px;
  width: 100%;
  background-color: $grey-color;
  border-radius: 5px;
  box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    width: 100%;
    font-family: 'Montserrat', ;
  }
  .features__container{
    display: flex;
    justify-content: flex-start;
    
  }
  .feature-row {
    //width: 25%;
    font: {
      family: 'Montserrat', ;
      weight: 400;
      size: 14px;
      }
      .features-row__title{
        font: {
          weight: 600;
        }
        padding-right: 5px !important;
    }
    .features-row__value {
      padding-left: 5px !important;
    }
  }
}
