body{
  margin:0;
  padding:0;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.row {
  --bs-gutter-x: 0 !important
}
.row > * {
  padding: 0 !important;
}
.container-fluid, .container {
  padding: 0 !important;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}