.react-datepicker__input-container {
  display: flex !important;
  justify-content: center;
}

.css-2b097c-container{
  padding: 0 10px;
}
.alert-danger{
  a {
   cursor: pointer;
  }
}
.alert-warning-customize {
  position: absolute;
  bottom: -40px
}
.btn-light{
  color:$primary-color;
  font: {
    size: 14px;
    family: 'Montserrat', ;
  }
  &:hover {
    color:$white-color;
    background-color: $primary-color;
  }
}