// colors
$primary-color: #0580ff;
$primary-color-passive: #d5d5d5;
$secondary-color: #ff8405;
$white-color: #fff;
$grey-color: rgb(212, 212, 212);
$grey-color-passive: #d5d5d5;
$border-color: #c3c3c3;
$border-danger: #ff0000;
$background-danger: #f67171;
$aborder-color-active: #a9a9a9;


// font-colors
$primary-font-color: #fff;
$secondary-font-color: #000;

$box-shadow: 2px 0px 15px 5px rgba(221,221,221,0.7);